.cardContainer {
    display: flex;
    border: 0.5px solid #8E8E8E;
    border-radius: 16px;
    overflow: hidden;
}
.imageSection {
    position: relative;
    min-width: calc((473px / 1070px) * 100%);
    max-width: calc((473px / 1070px) * 100%);
    background-repeat: no-repeat;
    background-size: cover;
    & div {
        position: absolute;
        z-index: 1;
        background-color: #099CE8;
        color: #fff;
        font-weight: 600;
        transition: all .5s;
    }
}
.infoSection {
    & .title {
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.3em;
    }
    & .time {
        display: flex;
        align-items: center;
        & p {
            color: #9E9E9E;
            font-weight: 200;
        }
    }
}
.programList {
    display: flex;
    flex-direction: column;
    font-size: 1.15em;
    font-weight: 200;
    & .item {
        display: flex;
        align-items: center;
        & li {
            padding-left: 2rem;
            background: url('../../public/icons/marker.svg');
            background-position: 0 0;
            background-size: 16px;
            background-repeat: no-repeat;
        }
        & .nearTime {
            display: flex;
            align-items: center;
            & .timeItem, & button {
                display: flex;
                align-items: center;
                border: none;
                border-radius: 11px;
                font-size: 1.14em;
                font-weight: 300;
                transition: all .3s;
                color: #343434;
                background-color: #C5DCFF;
                &:hover {
                    cursor: pointer;
                    background-color: #6BA6FF;
                    color: #fff
                }
            }
            & .times {
                display: flex;
                flex-wrap: wrap;
            }
        }
        & p {
            display: flex;
            flex-shrink: 0;
        }
    }
}
.priceSection {
    display: flex;
    align-items: center;
    & .onlinePrice {
        font-size: 2.57em;
        line-height: 1.2em;
        font-weight: 300;
    }
    & .offlinePrice { font-weight: 200; }
    & button {
        border: none;
        font-size: 1.14em;
        font-weight: 300;
        border-radius: 23px;
        color: #404040;
        background-color: #FFD83C;
        transition: all .3s;
        &:hover {
            background-color: #CBA500;
            color: #fff;
        }
    }
}

/* Adaptivity Section */
@media (max-width: 1920px), (min-width: 1920px) {
    .imageSection {
        & div {
            top: 55px;
            padding: 20px 45px;
        }
    }
    .infoSection {
        padding: 16px 23px 20px;
        & .title { margin: 0 0 15px; }
        & .time {
            column-gap: 8px;
            & img { width: 21px; }
        }
    }
    .programList {
        row-gap: 15px;
        margin: 15px 0 25px;
        & .item {
            & li {
                padding-left: 2rem;
                background-size: 22px;
            }
            & .nearTime li { margin-right: 8px;}
            & .times { gap: 8px; }
            & .timeItem, & button { padding: 6px 20px; }
        }
    }
    .priceSection {
        column-gap: 30px;
        & button { padding: 20px 50px; }
    }
}

@media(max-width: 1440px) {
    .imageSection {
        & div {
            top: 46px;
            padding: 14px 35px;
        }
    }
    .infoSection {
        padding: 16px 23px 20px;
        & .title { margin: 0 0 11px; }
        & .time {
            column-gap: 6px;
            & img { width: 16px; }
        }
    }
    .programList {
        row-gap: 11px;
        margin: 10px 0 20px;
        & .item {
            & .nearTime li { margin-right: 6px;}
            & li { background-size: 16px; }
            & .times { gap: 6px; }
            & .timeItem, & button { padding: 4px 16px; }
        }
    }
    .priceSection {
        column-gap: 15px;
        & button { padding: 16px 40px; }
    }
}

@media (max-width: 1210px) {
    .imageSection {
        & div {
            top: 40px;
            padding: 10px 32px;
        }
    }
    .infoSection {
        padding: 12px 20px 18px;
        & .title { margin: 0 0 8px; }
        & .time {
            column-gap: 4px;
            & img { width: 14px; }
        }
    }
    .programList {
        row-gap: 8px;
        margin: 8px 0 18px;
        & .item {
            & li { background-size: 14px; }
            & .timeItem, & button { padding: 3px 12px; }
        }
    }
    .priceSection {
        column-gap: 12px;
        & button { padding: 14px 35px; }
    }
}

@media (max-width: 980px) {
    .imageSection {
        & div {
            top: 30px;
            padding: 10px 30px;
        }
    }
    .infoSection {
        padding: 10px 18px 15px;
        & .title { margin: 0 0 6px; }
        & .time {
            column-gap: 3px;
            & img { width: 12px; }
        }
    }
    .programList {
        row-gap: 6px;
        margin: 8px 0 15px;
        & .item {
            & li { background-size: 12px; }
            & .timeItem, & button { padding: 3px 10px; }
        }
    }
    .priceSection {
        column-gap: 10px;
        & button { padding: 12px 32px; }
    }
}

@media (max-width: 760px) {
    .imageSection {
        & div {
            top: 25px;
            padding: 8px 26px;
        }
    }
    .infoSection {
        padding: 10px 14px 12px;
        & .title { font-size: 1.6em; }
        & .time {
            column-gap: 3px;
            & img { width: 10px; }
        }
    }
    .programList {
        row-gap: 6px;
        margin: 8px 0 10px;
        & .item {
            & .nearTime li { margin-right: 5px;}
            & li { background-size: 10px; }
            & .times {
                gap: 5px;
                font-size: 1rem;
            }
            & .timeItem, & button { padding: 2px 6px; }
        }
    }
    .priceSection {
        column-gap: 8px;
        & button { padding: 10px 28px; }
    }
}

@media (max-width: 580px) {
    .cardContainer { flex-direction: column; }
    .imageSection {
        height: 260px;
        min-width: 100%;
        & div {
            font-size: 0.86em;
            top: 45px;
            padding: 14px 28px;
        }
    }
    .infoSection {
        padding: 20px 18px 25px;
        & .title { font-size: 1em; }
        & .time {
            column-gap: 10px;
            font-size: 0.86em;
            & img { width: 18px; }
        }
    }
    .programList {
        row-gap: 12px;
        margin: 14px 0 35px;
        & .item {
            line-height: 1.4em;
            font-size: 1rem;
            & li {
                background-size: 18px;
                background-position: 0 1vh;
            }
            & .nearTime li { margin-right: 0;}
            & .times { gap: 10px; }
            & .nearTime {
                align-items: start !important;
                flex-direction: column !important;
                & .times {
                    gap: 7px;
                    margin: 0.5rem 0 0 2rem !important;
                }
                & .timeItem, & button {
                    font-size: 1em;
                    padding: 4px 18px;
                    &:first-child { margin: 0; }
                }
            }
        }
    }
    .priceSection {
        justify-content: space-between;
        & .onlinePrice { font-size: 2.14em; }
        & .offlinePrice { font-size: 0.71em; }
        & button {
            border: 0.5px solid #CBA500;
            font-size: 1em;
            border-radius: 20px;
            padding: 18px 45px;
        }
    }
}

@media (max-width: 420px) {
    .imageSection {
        height: 220px;
        & div {
            top: 40px;
            padding: 12px 18px;
        }
    }
    .infoSection {
        padding: 16px 12px 20px;
        & .time {
            column-gap: 9px;
            & img { width: 16px; }
        }
    }
    .programList {
        row-gap: 10px;
        & .item {
            & li { background-size: 16px; }
            & .nearTime {
                & .times { gap: 7px; }
                & .timeItem, & button { padding: 2px 14px; }
            }
        }
    }
    .priceSection button { padding: 13px 44px; }
}